@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/roboto/400.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    font-family: 'Roboto';
    height: 100vh;
    color: white;
    background-color: rgb(51, 51, 51);
    
}
